body {
    margin: 0;
    font-family: "Lucida Grande";
  }
  
  a {
    text-decoration: none;
  }
  
  .container {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
  }
  
  .top-wrapper {
    margin: 100px auto 100px auto;
    background-size: cover;
    color: #34353A;
    text-align: center;
  }
  
  .top-wrapper h1 {
    opacity: 0.7;
    font-size: 100px;
    letter-spacing: 5px;
    margin-bottom: 10px;
    font-weight: bold;
  }

  .top-wrapper span {
    color: yellow;
  }
  
  .top-wrapper h2 {
    opacity: 0.7;
    margin-bottom: 3px;
    font-size: 30px;
    font-weight: normal;
    letter-spacing: 3px;
  }

  .top-wrapper img {
    width: 20%;
    height: 20%;
  }
  
  btn {
    padding: 12px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
  }
  
  .btn:hover {
    opacity: 1;
  }
  
  
  header {
    background-color: #404146;
    color: #fff;
    height: 90px;
  }
  
  .header-logo {
    float: left;
    font-size: 36px;
    /* Ubahlah padding atas & bawah ke 20px, dan padding kiri & kanan ke 40px */
    padding: 20px 40px;
  }

  header a {
      list-style: none;
      float: left;
      /* Ubahlah padding atas & bawah ke 33px, dan padding kiri & kanan ke 20px */
      padding: 33px 20px;
      color: white;
  }
  
  .lesson-wrapper {
    height: 250px;
    padding-bottom: 80px;
    background-color: #f7f7f7;
    text-align: center;
  }
  
  .heading {
    padding-top: 40px;
    padding-bottom: 20px;
    color: #5f5d60;
  }
  
  .heading h2 {
    font-weight: normal;
    font-size: 40px;
    font-weight: bold;
  }
     
  .txt-contents {
    display: inline-block;
    text-align: center;
    width: 80%;
    font-size: 15px;
    color: #000;
  }

  .pilihan-wrapper {
    height: 500px;
    padding-bottom: 80px;
    /* Ubah property text-align ke center */
    text-align: center;
    
    text-align: center;
    align-items: center;
  }
  
  .heading {
    padding-top: 60px;
    padding-bottom: 30px;
    color: #5f5d60;
  }
  
  .heading h2 {
    font-weight: normal;
  }
  
  .pilih {
    float: left;
    width: 33%;
    
  }
  
  /* Tambahkan CSS untuk lesson-icon */
  .pilih-icon {
    position: relative;
    
  }
  
  .pilih-icon img {
    width: 50%;
    height: 50%;
  }

  /* Tambahkan CSS untuk tag <p> di dalam lesson-icon */
  .pilih-icon p {
    width: 80%;
    display: inline-block;
    margin-top: 20px;
    font-size: 15px;
    color: #000;
  }
  
  .heading h3 {
    font-weight: normal;
  }
  
  .message-wrapper {
    border-bottom: 1px solid #eee;
    padding-bottom: 80px;
    text-align: center;
    background-color: #f7f7f7;

  }
  
  .message {
    padding: 15px 40px;
    background-color: #5dca88;
    cursor: pointer;
    box-shadow: 0 7px #1a7940;
  }
  
  .message:active {
    position: relative;
    top: 7px;
    box-shadow: none;
  }

  footer {
    background-color: #7C7D82;
    color: #fff;
    height: 160px;

  }
  
  .footer-logo {
    float: left;
    font-size: 32px;
    margin: 20px 20px;
  }
  
  .footer-list {
    float: right;
    text-align: center;
    /* padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px; */
    padding: 20px 40px;
  }
  
  
  .footer-list li {
    padding-bottom: 20px;
    list-style: none;
  }